---
---
@use "sass:meta";
@use '../_sass/variables';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    background-color: variables.$black;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

blockquote {
    text-align: center;
    font-weight: bold;
}

@import 'splide-sea-green.min.css';
@include meta.load-css('../_sass/headings');
@include meta.load-css('../_sass/default-fonts');
@include meta.load-css('../_sass/header');
@include meta.load-css('../_sass/_posts-preview');
@include meta.load-css('../_sass/_books');
@include meta.load-css('../_sass/social');
@include meta.load-css('../_sass/container');
@include meta.load-css('../_sass/post_card');
@include meta.load-css('../_sass/post');
@include meta.load-css('../_sass/highlighter');
@include meta.load-css('../_sass/404');
