@import "variables";
@import "mixins";

[theme="dark"] {

  .section {

    &__title {
      color: $mid-gray;
    }

    &__content {
      color: $light-gray;

      .content__link {
        color: $light-blue-3;
      }
    }
  }

  .introduction {

    &__text {
      color: $light-gray;
    }
  }
}

.section {
  margin-top: 30px;
  font-family: $font;

  &__title {
    margin-bottom: 15px;
    color: $navy;
  }

  &__content {
    color: $black;
    font-size: 1rem;

    .content__link {
      text-decoration: underline;
      color: darken($color: $blue, $amount: 5%);
    }
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  &__title {
    font-size: 2.5rem;
  }

  &__text {
    margin: 0;
    color: $black;
    font-size: 1rem;
  }
}

@include large {
  .introduction {
    flex-direction: row;

    &__text {
      text-align: left;
    }
  }
}