@use "mixins";
@use "variables";

.books {
    width: 100%;
    padding: 10px;

    &__title {
        margin-left: auto;
        margin-right: auto;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .book {
            width: 45%;

            img {
                margin: 0;
            }

            .heading {
                font-size: 0.8rem;
                margin: 10px 0;
            }
        }
    }
}

.books[theme="dark"] {
    background-color: variables.$black;

    .books__title {
        color: variables.$light-gray;
    }

    .book {
        .heading {
            color: variables.$light-gray;
        }
    }
}

.books[theme="yellow"] {
    background-color: variables.$yellow;

    .books__title {
        color: variables.$black;
    }

    .book {
        .heading {
            color: variables.$black;
        }
    }
}

@include mixins.large {
    .books {
        &__title {
            width: 80vw;
        }

        &__grid {
            width: 80vw;
            margin: auto
        }

        .book {
            width: 19%;
            margin: 3% 0;

            .heading {
                font-size: 0.8rem;
            }
        }
    }
}