@use 'mixins';

.container {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 100%;

  &[no-space] {
    padding: 0;
    margin: 0;
  }

  &[direction="column"] {
    flex-direction: column;
  }

  &[justify="center"] {
    justify-content: center;
  }

  &[justify="space-between"] {
    justify-content: space-between;
  }

  &[align="center"] {
    align-items: center;
  }

  &[wrap] {
    flex-wrap: wrap;
  }
}

@include mixins.large {
  .container {
    padding-bottom: 0;
    width: 70vw;
  }
}
