@import 'variables';
@import 'mixins';

[theme="dark"] {

  .footer {
    background-color: darken($color: $gray, $amount: 5%);
    color: $navy;

    &__link {
      color: $navy;
    }
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
  background-color: $navy;
  font-family: $font;
  color: $silver;

  &__description {
    margin: 10px;
    font-size: 0.8rem;
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    align-items: center;
  }

  &__link {
    display: block;
    margin: 10px;
    color: $silver;
    text-decoration: none;
  }
}

@include large {
  .footer {
    padding: 50px 15vw;

    &__summary,
    &__contact {
      padding: 0 10px;
    }
  }
}

@include xlarge {
  .footer {
    &__summary {
      width: 30vw;
    }

    &__contact {
      flex-direction: column;
    }
  }
}