@use "sass:map";
@use "variables";
@use "mixins";

[theme="dark"] {

  .heading {

    &--underlined {

      &::after {
        border-color: variables.$mid-gray;
      }
    }
  }
}

.heading {
  margin: 10px;
  font-family: variables.$font;
  text-transform: capitalize;
  letter-spacing: 2px;

  &--1 {
    font-weight: map.get($map: variables.$font-weights, $key: black);
    font-size: 1.7rem;
  }

  &--2 {
    font-weight: map.get($map: variables.$font-weights, $key: bold);
    font-size: 1.5rem;
  }

  &--3 {
    font-weight: map.get($map: variables.$font-weights, $key: black);
    font-size: 1.3rem;
  }

  &--4 {
    font-weight: map.get($map: variables.$font-weights, $key: bold);
    font-size: 1rem;
  }

  &--5 {
    font-weight: map.get($map: variables.$font-weights, $key: bold);
    font-size: 0.8rem;
  }

  &--6 {
    font-weight: map.get($map: variables.$font-weights, $key: bold);
    font-size: 0.8rem;
  }

  &--center {
    text-align: center;
  }

  &--underlined {
    &::after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 20%;
      border-bottom: 3px solid variables.$black;
    }
  }

  &--no-margin {
    margin: 0;
  }
}

@include mixins.large {
  .heading {
    &--underlined {
      &::after {
        width: 5%;
      }
    }
  }
}
