@use "sass:map";
@use "variables";
@use "mixins";

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid variables.$gray;
  z-index: 1;
  font-family: variables.$font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$black;

  &__title {
    color: variables.$mid-gray;
    text-decoration: none;
    margin: 0;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: map.get($map: variables.$font-weights, $key: bold);
  }

  &__container {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    padding: 0;
    margin: 0;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__link {
      color: variables.$light-gray;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: variables.$font;
      text-decoration: none;
      font-size: 0.8rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

@include mixins.xlarge {
  .header {
    &__container {
      padding-bottom: 0;
      width: 80vw;
    }
  }
}

@include mixins.media($min-width: 370px) {
  .header {
    .navbar {
      display: flex;
    }
  }  
}