@use "mixins";
@use "variables";

.posts-preview {
    display: grid;
    column-count: 1;
    padding: 20px;
    width: 100%;
}

@include mixins.xlarge {
    .posts-preview {
        column-gap: 50px;
        column-count: 2;
        width: 80vw;
        margin: auto;
    }
}

.white-container {
    background-color: variables.$white;

    .posts-preview {
        :first-child {
            border: none;
        }
    }
}