@import "variables";

[theme="dark"] {
  
  .post__header {

    &::after {
      border-color: $mid-gray;
    }
  }

  .post__title, .post__date {
    color: $mid-gray;
  }

  .post__content {
    color: $light-gray;

    h1,h2,h3,h4,h5,h6 {
      color: $mid-gray;
    }

    a {
      color: $light-blue-3;
    }
  }
}

.post__header {
  margin-top: 50px;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: block;
    margin: 50px 0;
    width: 50%;
    border-bottom: 3px solid $navy;
  }
}

.post__title {
  color: $navy;
}

.post__date {
  font-family: $font;
}

.post__content {
  font-family: $font;
  line-height: 1.7;

  h1 {
    @extend .heading;
    @extend .heading--1;
  }

  h2 {
    @extend .heading;
    @extend .heading--2;
  }

  h3 {
    @extend .heading;
    @extend .heading--3;
  }

  h4 {
    @extend .heading;
    @extend .heading--4;
  }

  h5 {
    @extend .heading;
    @extend .heading--5;
  }

  h6 {
    @extend .heading;
    @extend .heading--6;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $navy;
    margin-left: 0;
    margin-right: 0;
  }

  a {
    color: darken($color: $blue, $amount: 5%);
  }
}

@include medium {
  .post__header {
    &::after {
      margin: 25px 0 50px 10px;
    }
  }

  .post__title {
    margin: 10px;
  }

  .post__date {
    margin: 0 10px;
  }

  .post__content {
    margin: 10px;
  }
}
