@use "sass:color";
@use "variables";
@use "mixins";
@use "headings";


.post__header {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &::after {
    content: "";
    display: block;
    margin: 50px 0;
    width: 50%;
    border-bottom: 3px solid variables.$mid-gray;
  }
}

.post__body {
  padding: 20px;

  .splide {
    padding-left: 0;
    padding-right: 0;
  }

  .slide__title {
    margin: 0;
    text-align: center;
  }

  .splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-height: 80vh;
  }
}

.post__title {
  color: variables.$mid-gray;
}

.post__date {
  font-family: variables.$font;
  color: variables.$mid-gray;
}

.post__content {
  font-family: variables.$font;
  line-height: 1.7;
  background-color: variables.$white;

  h1 {
    @extend .heading;
    @extend .heading--1;
  }

  h2 {
    @extend .heading;
    @extend .heading--2;
  }

  h3 {
    @extend .heading;
    @extend .heading--3;
  }

  h4 {
    @extend .heading;
    @extend .heading--4;
  }

  h5 {
    @extend .heading;
    @extend .heading--5;
  }

  h6 {
    @extend .heading;
    @extend .heading--6;
  }

  h1,h2,h3,h4,h5,h6 {
    color: variables.$black;
    margin-left: 0;
    margin-right: 0;
  }

  a {
    color: color.adjust($color: variables.$blue, $lightness: -5%);
  }
}

@include mixins.xlarge {
  .post__body,
  .post__header {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .post__body {
  
    .splide {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}