@use 'variables';
@use 'mixins';
@use "headings";

.post-card {
  padding-top: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  border-top: 1px solid variables.$gray;

  &[theme="light"] {
    .post-card__title,
    .post-card__date,
    .post-card__summary {
      color: variables.$black;
    }
  }

  &[first=true] {
    border: none;
  }

  &:not([first=true]) {
    article {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      
      & .heading {
        font-size: 1.3rem;
      }
    }
  }
}

.post-card--inverted {
  padding-top: 20px;
  padding-bottom: 40px;
  text-decoration: none;
  border-top: 1px solid variables.$gray;

  article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.post-card__title {
  margin: 10px 0;
  color: variables.$mid-gray;
}

.post-card__date {
  color: variables.$light-gray;
  font-family: variables.$font;
  font-size: 0.8rem;
}

.post-card__summary {
  margin: 15px 0;
  color: variables.$light-gray;
  font-family: variables.$font;
  font-size: 0.8rem;
}

@include mixins.medium {
  .post-card__title {
    margin: 10px;
  }

  .post-card__date {
    margin: 10px
  }

  .post-card__summary {
    margin: 15px 10px;
  }
}

@include mixins.large {
  .post-card[first=true] {
    article {
      display: flex;

      & .heading {
        font-size: 1.3rem;
      }

      img {
        width: 60%;
      }
    }
  }

  .post-card__summary {
    font-size: 1rem;
  }

  .post-card:not([first=true]) {
    article {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      
      & .heading {
        font-size: 1.3rem;
      }
    }
  }
}


@include mixins.xlarge {

  .post-card[first=true] {
    grid-column-start: 1;
    grid-row: span 3;

    article {
      flex-direction: column;

      img {
        width: 100%;
      }

      & .heading {
        font-size: 1.7rem;
      }
    }
  }

  .post-card:not([first=true]) {
    grid-column-start: 2;
  }

  .post-card[index="2"] {
    border: none;
  }
}