@import 'variables';

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: $font;
  font-size: 0.8rem;
}

.social__link {
  text-decoration: none;
  color: $black;
  margin: 0 10px;
}

.social__text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.social__icon {
  width: 25px;
  height: 25px;
  fill: $silver;
  vertical-align: middle;

  &--light {
    fill: $black;
  }
}
