@use 'variables';

.social__link {
  text-decoration: none;
  padding: 13px;
}

.social__text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.social__icon {
  width: 25px;
  height: 25px;
  fill: variables.$silver;
  vertical-align: middle;
}
